
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#footer {
  position: relative;
  width: 100%;
  background: #191E21;
  overflow: hidden;
  color: #989898;
  font-size: 13px;
}
#footer::before {
  content: "";
  display: block;
  left: 0;
  position: absolute;
  top: 5px;
  width: 100%;
  
  height: 1px;
  opacity: .7;
}

#footer:after {
  height: 5px;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.2);
  content: "";
  position: absolute;
}
@media only screen and (max-width: 1024px){
.row_spacer {
    padding-bottom: 10px;
    padding-top: 70px;
}
}

@media only screen and (max-width: 992px){
.row_spacer {
    padding-bottom: 10px;
}}
.row_spacer {
  padding-bottom: 10px;
  padding-top: 90px;
}
.clearfix:before, .clearfix:after,.container:before, .container:after{
  display: table;
  content: " ";
}

@media only screen and (max-width: 992px){
.footer_row:last-child {
    padding-bottom: 40px;
}
}
.footer_row:last-child {
    padding-bottom: 0;
}
.footer_row:first-child {
    border-top: 0;
    padding-top: 0;
}
.footer_row {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding: 35px 0 40px;
}

@media only screen and (max-width: 1024px){
.footer_copyright {
    padding: 20px 0;
}
}
.footer_copyright {
    padding: 32px 0px;
   
    position: relative;
}
.footer_copyright:after {
    width: 100%;
    height: 1px;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    opacity: 0.7;
}
.footer_title {
  color: #fff;
  font-size: 15px;
  line-height: initial;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.footer_param {
  display: block;
  margin: 15px 0 0 0;
  line-height: 22px;
  font-size: 15px;
}
.black_button {
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  display: inline-block;
  font-size: 13px;
  padding: 10px 15px;
  margin: 24px 0 0;
  font-style: italic;
}


/* .a {
  color: red;
  text-decoration: none;
  outline: none;
} */
.footer_row a{
  color:#d36065;
  text-decoration: none;
  outline: none;
}
.tagcloud {
  margin-top: -5px;
}
.tag {
 
  color:  #d36065;
  font-size: 11px;
  overflow: hidden;
  padding: 9px 11px;
  text-transform: uppercase;
  position: relative;
  vertical-align: top;
  font-weight: 500;
  letter-spacing: 1px;
  font-weight: 300;
  display: inline-block;
}
/* .tag {
  background: #fff;
  border: 1px solid #E5E5E5;
  color: #666;
  display: inline-block;
  font-size: 11px;
  font-weight: 300;
  letter-spacing: 1px;
  padding: 8px 9px;
  text-transform: uppercase;
} */
@media only screen and (max-width: 1024px){
.footer_copy_text {
    display: block;
    padding-bottom: 12px;
    text-align: center;
}
}
.footer_copy_text {
    font-size: 13px;
}





html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, menu, nav, section, time, mark, audio, video, details, summary {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-weight: normal;
	vertical-align: baseline;
	background: transparent;
}
ins {
	color: #d36065;
	text-decoration: none;
}
body {
	font-size: 14px;
	font-family: "Open Sans", sans-serif;
	color: #666666;
	position: relative;
	line-height: 1.5;
}
body.site_boxed {
	background-color: #f9f9f9;
}
html {
	height: 100%;
	min-height: 100%;
}
body {
	min-height: 100%;
}
a {
	color: #d36065;
	text-decoration: none;
	outline: none;
}

::-webkit-selection {
 background: #c5373d;
 color: #fff;
 text-shadow: none;
}

.bg_header4 {
  background-image: url(https://artisbiotech.com/images/bg_header4.jpg);
  height: 255px;
}

.white_section.page_title h1, .white_section.page_title .breadcrumbs, .white_section.page_title .breadcrumbs a, .white_section.page_title .breadcrumbs a:hover {
  color: #fff;
}

.white_section {
  color: rgba(255, 255, 255, 0.7);
}
[class*=" enar_parallax"] {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 50% top;
  
}
.content_section {
  position: relative;
}
.page_title.has_bg_image::after {
  background: rgba(255, 255, 255, 0.1);
  content: "";
  display: block;
  height: 1px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.content, .container {
  margin: 0 auto;
  max-width: 1170px;
  position: relative;
  width: 100%;
}
.content {
  padding: 0 15px;
}

.white_section.page_title h1, .white_section.page_title .breadcrumbs, .white_section.page_title .breadcrumbs a, .white_section.page_title .breadcrumbs a:hover {
  color: #fff;
}
.content_section {
  position: relative;
}
.row_spacer {
  padding-bottom: 90px;
  padding-top: 90px;
}
.contact_details_row .c_con {
  position: relative;
  padding-left: 0px;
}
.c_con .c_title {
  display: block;
  font-size: 16px;
  color: #c5373d;
  margin-bottom: 8px;
  text-transform: uppercase;
}
.c_detail {
  line-height: 28px;
  display: block;
}
.c_detail .c_name {
  display: inline-block;
  color: #324545;
  margin-right: 10px;
  text-transform: capitalize;
}
.c_detail .c_desc {
  color: #555;
}
.contact_details_row:last-child {
  margin-bottom: 0;
}
.contact_details_row .c_con {
  position: relative;
  padding-left: 0px;
}
.title1 {
  color: #c5373d;
  font-size: 24px;
  font-weight: 400;
  margin: 0 0 13px;
  font-family: "Oswald", "Open Sans", sans-serif;
  line-height: 33px;
}
.upper {
  text-transform: uppercase;
}
.upper {
  text-transform: uppercase;
}
.form_row:first-child {
  margin-top: 0;
}
.form_row {
  margin-top: 27px;
}
.hm_requires_star {
  color: #e74c3c;
}
.form_row .hm_input_text {
  color: #324545;
  width: 80%;
  font-weight: 600;
}
input[type="text"], input[type="date"], input[type="email"], input[type="number"], textarea, .form_row input[type="file"], .lfc_user_row input[type="password"] {
  border: 1px solid #ddd;
  padding: 10px 12px;
  color: #666;
  font-size: 13px;
  background: #fff;
  outline: none;
}
html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, menu, nav, section, time, mark, audio, video, details, summary {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  background: transparent;
}
.form_row label:not(.orderby_label) {
  float: left;
  display: block;
  width: 20%;
  color: #555;
  line-height: 39px;
}
label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: bold;
}
@media only screen and (min-width: 1200px){
.content, .container, .site_boxed #main_wrapper {
    max-width: 1170px;
}
}
@media only screen and (min-width: 992px){
.content, .container, .site_boxed #main_wrapper {
    max-width: 970px;
}
}
@media only screen and (min-width: 768px){
.content, .container, #navy li:not(.tab_menu_con):not(.image_menu_slide), .site_boxed #main_wrapper {
    max-width: 750px;
}
}
@media only screen and (min-width: 640px){
.content, .container, #navy li:not(.tab_menu_con):not(.image_menu_slide), .site_boxed #main_wrapper {
    max-width: 625px;
}}
.content, .container {
    margin: 0 auto;
    max-width: 1170px;
    position: relative;
    width: 100%;
    
}
.content {
    padding: 0 15px;
}
.contact_details_row {
  margin-bottom: 40px;
  min-height: 75px;
  position: relative;
}
.form_row button, .form_row input[type="submit"] {
  max-width: 80%;
  margin-left: 20%;
}
.full_button {
  width: 100%;
}
.send_button {
  background: #c5373d;
  border: 1px solid #c5373d;
  color: #fff;
  padding: 8px 12px;
  font-size: 14px;
  display: inline-block;
}
.form_row .hm_textarea {
  color: #324545;
  width: 80%;
  /* min-height: 200px; */
}
input, button, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
textarea {
  overflow: auto;
}
button, input, optgroup, select, textarea {
  margin: 0;
  font: inherit;
  color: inherit;
}
